<ion-header >
  <ion-toolbar>
    <ion-title>
      Timeline
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>

  <ion-card>
    <ion-item>
      <ion-icon name="water" slot="start"></ion-icon>
      <ion-label>Sunflower Neverdie | ระบบรดน้ำอัตโนมัติ</ion-label>
    
    </ion-item>

    <ion-card-content>
      <ion-label name='title'>ลดน้ำแล้ว</ion-label>
      <p>สถานะการทำงาน : </p>
      <p>ความชื้นในดิน : </p>
      <p>Date :      Time:  </p>
    </ion-card-content>
  </ion-card> 


  <ion-card>
    <ion-item>
      <ion-icon name="snow" slot="start"></ion-icon>
      <ion-label>Watering Station | สภาพอากาศ</ion-label>
    
    </ion-item>

    <ion-card-content>
      <p>สถานะการทำงาน : </p>
      <p>อุณหภูมิ :            ความชื้นในดิน :  </p>
      <p>Pm 2.5 :           Pm 10 :   </p>
      <p>Date :      Time:  </p>

    </ion-card-content>
  </ion-card> 

  <ion-card> 
    <ion-item>
      <ion-icon name="bulb" slot="start"></ion-icon>
      <ion-label> Switch Automatic | สวิตช์อัตโนมัติ</ion-label>
    
    </ion-item>

    <ion-card-content>
      <p>สถานะการทำงาน : </p>
      <p>SW1:    SW2:  SW3:   SW4: </p>
      <p>Date :      Time:  </p>
    </ion-card-content>
  </ion-card> 




  


  
</ion-content>
